<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p>
      Primero alcanzó reconocimiento mainstream por crear la popular serie de
      manga Dr. Slump, antes de crear Dragon Ball (su obra más famosa) y actuar
      como diseñador de personajes para varios videojuegos populares como la
      serie Dragon Quest, Chrono Trigger y Blue Dragon. Toriyama es considerado
      uno de los autores que cambió la historia del manga, debido a que sus
      obras fueron muy populares e influyentes, especialmente Dragon Ball.3​
      Autores como el de Naruto y One Piece lo citaron como referente e
      inspiración para sus obras.4​5​
    </p>

    <a href="/works">See works</a>
  </body>
</html>
