<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Works</h1>
    <p>
      Tras llamar la atención del que fuera su editor para el resto de su
      carrera, Kazuhiko Torishima, con obras como Awawa World y Mysterious Rain
      Jack (la cual era una parodia de Star Wars), logró debutar como dibujante
      en 1978, con la historia Wonder Island, que fue publicada en la revista
      semanal Shonen Jump. A partir de ese momento creó una serie de historias
      cortas como Tomato (esbozo de lo que luego sería Dr. Slump) y Today's
      Highlight Island. Todas tuvieron una moderada aceptación entre los fanes,
      y gracias a ello el autor tuvo la posibilidad de realizar su primera
      serie.
    </p>

    <a href="/PhotoGallery
    ">Photo Gallery</a>
  </body>
</html>
